.style1
{
    background-image: linear-gradient(135deg, #d3b610 0%, #e9d668  51%, #d3b610  100%);
    
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: large;
    margin: 10px;
    padding: 10px 20px;
    transition: 1s;
    background-size: 200% auto;
}
.style1:hover
{
    background-position: right center;
    color: white;
    text-decoration: none;
}

.cover
{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #000;
    transition: 0.5s;
    display: inline;
    border-radius: 5px;
}
.cover:hover
{
    background-color: rgba(0, 0, 0, 0);
}